.footer {
    background-color: $blackblack;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 20vh;

    p {
        font-size: 1rem;
    }

    &__madeby {
        color: $white;
    }

}