// Cores
$blackblack: #000000;
$black: #221f1f;
$lightBlack: rgba(0, 0, 0, 0.45);
$white: #f5f5f1;
$lightWhite: rgba(255, 255, 255, 0.5);
$red: #db0000;
$darkRed: #831010;
$gray: #b3abab;
$lightGray: rgba(82, 79, 79, 0.9);
$orange: rgb(231, 121, 43);

// Tamanho Fonte
$font-small: 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xlg: 6.25rem; // 52px
